In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

pd.set_option('display.max_columns', 100)
pd.set_option('display.width', 160)

In [2]:
df = pd.read_csv("../data/car_sales.csv")
print("Shape:", df.shape)
df.head()

Shape: (157, 16)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1/4/2012,NaN
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639

In [3]:
df.info()
df.describe(include='all').T.head(15)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         157 non-null    object
 1   Model                157 non-null    object
 2   Sales_in_thousands   157 non-null    float64
 3   __year_resale_value  121 non-null    float64
 4   Vehicle_type         157 non-null    object
 5   Price_in_thousands   155 non-null    float64
 6   Engine_size          156 non-null    float64
 7   Horsepower           156 non-null    float64
 8   Wheelbase            156 non-null    float64
 9   Width                156 non-null    float64
 10  Length               156 non-null    float64
 11  Curb_weight          155 non-null    float64
 12  Fuel_capacity        156 non-null    float64
 13  Fuel_efficiency      154 non-null    float64
 14  Latest_Launch        157 non-null    object
 15  Power_perf_factor    155 non-null    float64
dtypes: float64(12), object(4)
memory usage: 19.8+ KB

                     count unique        top freq        mean        std    min      25%     50%      75%      max
Manufacturer           157     30       Ford   11         NaN        NaN    NaN      NaN     NaN      NaN      NaN
Model                  157    156       Neon    2         NaN        NaN    NaN      NaN     NaN      NaN      NaN
Sales_in_thousands   157.0    NaN        NaN  NaN   52.998076  68.029422   0.11   14.114   29.45   67.956  540.561
__year_resale_value  121.0    NaN        NaN  NaN   18.072975  11.453384   5.16    11.26   14.18   19.875    67.55
Vehicle_type           157      2  Passenger  116         NaN        NaN    NaN      NaN     NaN      NaN      NaN
Price_in_thousands   155.0    NaN        NaN  NaN   27.390755  14.351653  9.235  18.0175  22.799  31.9475     85.5
Engine_size          156.0    NaN        NaN  NaN    3.060897   1.044653    1.0      2.3     3.0    3.575      8.0
Horsepower           156.0    NaN        NaN  NaN  185.948718  56.700321   55.0    149.5   177.5    215.0    450.0
Wheelbase            156.0    NaN        NaN  NaN  107.487179   7.641303   92.6    103.0   107.0    112.2    138.7
Width                156.0    NaN        NaN  NaN       71.15   3.451872   62.6     68.4   70.55   73.425     79.9
Length               156.0    NaN        NaN  NaN   187.34359  13.431754  149.4  177.575   187.9  196.125    224.5
Curb_weight          155.0    NaN        NaN  NaN    3.378026   0.630502  1.895    2.971   3.342   3.7995    5.572
Fuel_capacity        156.0    NaN        NaN  NaN   17.951923   3.887921   10.3     15.8    17.2   19.575     32.0
Fuel_efficiency      154.0    NaN        NaN  NaN   23.844156   4.282706   15.0     21.0    24.0     26.0     45.0
Latest_Launch          157    130  1/29/2012    2         NaN        NaN    NaN      NaN     NaN      NaN      NaN